## **RESOLUCIÓN EVALUACIÓN MÓDULO 3**
## **PARTE 04**
#### **ANÁLISIS DE DATOS**

- Librerías

In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Libreria Regex para buscar patrones
import re

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

#### **Fase 3: Evaluación de Diferencias en Reservas de Vuelos por Nivel Educativo**

Utilizando un conjunto de datos que hemos compartido, se busca evaluar si existen
diferencias significativas en el número de vuelos reservados según el nivel educativo de
los clientes. Para ello, los pasos a seguir son:

- **Lectura archivos csv**

In [2]:
df_aerolinea_limpio = pd.read_csv("aerolinea_limpio.csv", index_col = None)

- Creación copia del Dataframe para trabajar con seguridad

In [3]:
df_aerolinea_testing = df_aerolinea_limpio.copy()
df_aerolinea_testing.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,January,3,0,3,1521,152,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,August,2017,July
1,100018,2017,February,2,2,4,1320,132,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,August,2017,July
2,100018,2018,October,6,4,10,3110,311,385,31,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,August,2017,July
3,100018,2017,April,4,0,4,924,92,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,August,2017,July
4,100018,2017,May,0,0,0,0,0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,August,2017,July

- **1. Preparación de Datos: Filtra el conjunto de datos para incluir únicamente las columnas relevantes: 'Flights Booked' y 'Education'.**

In [6]:
# Filtrar con loc para indexar columnas por etiquetas/ categorías

df_filtrado = df_aerolinea_testing.loc[:,["Flights Booked", "Education"]]
df_filtrado.sample(10)

        Flights Booked Education
82760                0   College
402515               0  Bachelor
37086                8  Bachelor
47349                0   College
371728               7   College
94556                8  Bachelor
123697               8  Bachelor
210720               0  Bachelor
151827               0  Bachelor
153511               5  Bachelor

- **2. Análisis Descriptivo: Agrupa los datos por nivel educativo y calcula estadísticas descriptivas básicas (como el promedio, la desviación estándar, los percentiles…) del número de vuelos reservados para cada grupo.**

- **3. Prueba Estadística: Realiza una prueba A/B Testing para determinar si existe una diferencia significativa en el número de vuelos reservados entre los diferentes niveles educativos.**