## **RESOLUCIÓN EVALUACIÓN MÓDULO 2:**
#### **ANÁLISIS DE DATOS**

- Librerías

In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Libreria Regex para buscar patrones
import re

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

#### **Fase 1: Exploración y Limpieza**

**2. Limpieza de Datos:**

• Elimina o trata los valores nulos, si los hay, en las columnas clave para
asegurar que los datos estén completos.

• Verifica la consistencia y corrección de los datos para asegurarte de que
los datos se presenten de forma coherente.

• Realiza cualquier ajuste o conversión necesaria en las columnas (por
ejemplo, cambiar tipos de datos) para garantizar la adecuación de los
datos para el análisis estadístico.

In [2]:
df_aerolinea = pd.read_csv("aerolinea.csv", index_col = None)

- Creación copias de los Dataframes para trabajar con seguridad

In [3]:
df_aerolinea_copy = df_aerolinea.copy()
df_aerolinea_copy.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,8,NaN,NaN
1,100018,2017,2,2,2,4,1320,132.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,8,NaN,NaN
2,100018,2018,10,6,4,10,3110,311.0,385,31,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,8,NaN,NaN
3,100018,2017,4,4,0,4,924,92.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,8,NaN,NaN
4,100018,2017,5,0,0,0,0,0.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.2,Standard,2016,8,NaN,NaN

- **Variables Categóricas**

In [4]:
# Cargar el Dataframe con las variables de tipo categóricas

df_aerolinea_copy[["Country", "Province", "City", "Postal Code", "Gender", "Education", "Marital Status", "Loyalty Card", "Enrollment Type"]].sample(10)

,Country,Province,City,Postal Code,Gender,Education,Marital Status,Loyalty Card,Enrollment Type
25365,Canada,Ontario,Toronto,M2M 6J7,Male,Bachelor,Married,Aurora,Standard
11058,Canada,Ontario,Toronto,M2P 4F6,Female,Bachelor,Married,Nova,Standard
214461,Canada,Yukon,Whitehorse,Y2K 6R0,Female,Bachelor,Divorced,Aurora,Standard
45991,Canada,Ontario,Ottawa,K1G 4Z0,Male,Bachelor,Married,Nova,Standard
9055,Canada,Ontario,Toronto,P1J 8T7,Female,Bachelor,Married,Star,Standard
184214,Canada,British Columbia,Whistler,V6T 1Y8,Female,Bachelor,Married,Star,Standard
79304,Canada,Ontario,Toronto,P1W 1K4,Female,Bachelor,Married,Star,Standard
30935,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,Single,Star,Standard
285972,Canada,British Columbia,Vancouver,V1E 4R6,Female,College,Divorced,Star,Standard
65655,Canada,British Columbia,Vancouver,V1E 4R6,Female,College,Single,Aurora,Standard